:root {
  --font-family: "PT Serif", sans-serif;
  --second-family: "Montserrat", sans-serif;
  --third-family: "Arial", sans-serif;

  --light-blue: #909cc4;
  --white-color: #fff;
  --dark-blue: #242852;
  --background-img: linear-gradient(
      rgba(56, 57, 141, 0.82),
      rgba(56, 57, 141, 0.82)
    ),
    url(../img/bg-image.jpg);
  --bg-gray: #d9d9d9;
  --bg-dark-blue: #38398d;
  --dark-text-color: #000;
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 26px;
  text-transform: uppercase;
}

.container {
  width: 1170px;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
}

button {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  color: var(--white-color);
  padding: 15px 50px;
  border-radius: 36px;
  background-color: var(--light-blue);
  cursor: pointer;
  border: none;
}

.wrap {
  display: flex;
  justify-content: space-between;
}

.picture {
  height: auto;
  display: block;
}
