.feedback-carousel {
  background-color: var(--bg-gray);
  padding-top: 89px;
  padding-bottom: 150px;
}

.text {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: var(--dark-blue);

  display: block;
  width: 142px;
  margin-left: 434px;
}

.feedback-carousel__title {
  padding: 5px 23px;
  background-color: var(--light-blue);
  margin-bottom: 51px;
}
.feedback-carousel__text {
  padding: 5px 20px;
  background-color: #e6d4d4;
}
