.footer {
  background-color: var(--bg-gray);
  padding: 10px 0;
}
.container {
}
.footer__text {
  font-family: var(--second-family);
  color: var(--dark-blue);
  font-size: 18px;
  text-align: center;
}
