.header {
  position: absolute;
  width: 100%;
  top: 96px;
  background-image: none;
}

.nav {
  display: flex;
  justify-content: end;
}
.nav__list {
  font-family: "PT Serif", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: var(--white-color);

  display: flex;
  gap: 60px;
}
