.website-content {
  background: var(--background-img);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  padding: 111px 0 266px;
}

.website-content__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: var(--white-color);
  margin-bottom: 81px;
}
.website-content__list {
  font-family: "PT Serif", sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: var(--white-color);
  margin-bottom: 66px;
}
.website-content__item:not(:last-child) {
  margin-bottom: 40px;
}

.website-content__button {
  display: flex;
  margin-left: auto;
}
